@main: #e4e4e4;

body {
    padding: 50px;
    font: 16px arial, sans-serif;
    background: darken(@main, 60%);
}

a {
    color: black;
}

h1, h2, h3 {
    text-align: center;
    &::first-letter {
        text-transform: capitalize;
    }
}

strong {
    text-transform: uppercase;
}

.container {
    margin: auto;
    width: 70%;
}

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 1.1em;
    }
    .container {
        width: 90%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        font-size: 1.2em;
    }
    .container {
        width: 95%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        font-size: 1.3em;
    }
    .container {
        width: 100%;
    }
}

.card-like {
    border-radius: 3px;
    padding: 3px;
    background: @main;
}

.shadow(@length) {
    box-shadow: 0 @length*1.8 @length*3 rgba(0, 0, 0, 0.19), 0 @length @length rgba(0, 0, 0, 0.23);
}

.card {
    .card-like;
    padding: 20px;
    .shadow(3px);
    margin-bottom: 10px;
    overflow-x: auto;
}

.card:empty {
    display: none;
}

.card-block-inline {
    .card-like;
    text-decoration: none;
    font: inherit;
    color: black;
    background: darken(@main, 5%);
    transition: box-shadow 0.2s, top 0.2s;
    &:hover {
        position: relative;
        top: -2px;
        .shadow(2px);
    }

}

.card-links-container {
    margin-top: 20px;
    a {
        .card-block-inline;
        display: block;
        padding: 10px;
        margin: 5px 0 5px;
    }
}

.button-radios {
    margin-top: 10px;

    input[type=radio] {
        display: none;

        &:checked + label {
            background: darken(@main, 50%);
            color: white;
        }
    }

    label {
        cursor: pointer;
        padding: 5px;

        &:hover {
            background: darken(@main, 10%);
        }
    }
}
