@main: #e4e4e4;

body {
    padding: 50px;
    font: 16px arial, sans-serif;
    background: darken(@main, 50%);
}

a {
    color: #00B7FF;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    width: 70%;
}

.card-like {
    border-radius: 3px;
    padding: 3px;
    background: @main;
}

.shadow(@length) {
    box-shadow: 0 @length*1.8 @length*3 rgba(0, 0, 0, 0.19), 0 @length @length rgba(0, 0, 0, 0.23);
}

.card {
    .card-like;
    padding: 20px;
    .shadow(3px);
    margin-bottom: 10px;
}

.card:empty {
    display: none;
}

.card-block-inline {
    .card-like;
    text-decoration: none;
    font: inherit;
    color: black;
    background: darken(@main, 5%);
    &:hover {
        color: white;
        background: darken(@main, 50%);
    }
}

.card-links-container {
    margin-top: 20px;
    a {
        .card-block-inline;
        display: block;
        padding: 10px;
        margin: 5px 0 5px;
    }
}

.button-radios {
    margin-top: 10px;

    input[type=radio] {
        display: none;

        &:checked + label {
            background: darken(@main, 50%);
            color: white;
        }
    }

    label {
        cursor: pointer;
        padding: 5px;

        &:hover {
            background: darken(@main, 10%);
        }
    }
}

.table-container {
    overflow-x: auto;
    #applications {
        width: 100%;
        border-collapse: collapse;
        th, td {
            border: 1px solid darken(@main, 50%);
            padding: 10px;
        }
        tbody tr:hover {
            background: darken(@main, 5%);
        }
    }
}

