doctype html

html
    head
        title
            block title
                | AbitHelper
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")
        link(rel="stylesheet" href="/css/main.min.css")
        block head
    body
        div.container
            block content
            block foot
        block scripts
