extends layouts/main

block head
        link(rel='stylesheet' href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='/css/spinner.css')/
        include search_result.hbs

block content
    .container
        .card
            h1 Abit Helper
            .search-box
                .search-container
                    span.icon: i.fa.fa-search
                    input(type="search" id="search" placeholder="Іванов Іван Іванович..." value="шев")
                button#search-btn(type="button") Search
                form#search-types
                    input#searchType1(type="radio" name="search-type" value="dudes" checked='checked')
                    label(for="searchType1") Applicants
                    |
                    |
                    input#searchType2(type="radio" name="search-type" value="univs")
                    label(for="searchType2") Universities
                    |
                    |
                    input#searchType3(type="radio" name="search-type" value="faculties")
                    label(for="searchType3") Faculties
                    |
                    |
                    input#searchType4(type="radio" name="search-type" value="specs")
                    label(for="searchType4") Specializations

        #search-result
        .loader(style="display: none;")
            div.sk-circle
                div.sk-circle1.sk-child
                div.sk-circle2.sk-child
                div.sk-circle3.sk-child
                div.sk-circle4.sk-child
                div.sk-circle5.sk-child
                div.sk-circle6.sk-child
                div.sk-circle7.sk-child
                div.sk-circle8.sk-child
                div.sk-circle9.sk-child
                div.sk-circle10.sk-child
                div.sk-circle11.sk-child
                div.sk-circle12.sk-child

block scripts
    script(src='js/search.js')
