extends layouts/main


block title
    - var {univ, faculties} = locals
    | #{univ.name}


block head


block content
    div.card
        h1= univ.name

    div#faculties.card.card-links-container
        each faculty in faculties
            a(href=faculty.url)= faculty.name


block scripts
