extends layouts/main


block title
    | Список університетів


block head


block content
    div.card
        h1 Список університетів

    div#univs.card.card-links-container
        - var univs = locals.univs
        each univ in univs
            a(href=univ.url)= univ.name


block scripts
