body {
  padding: 50px;
  font: 16px arial, sans-serif;
  background: #656565;
}
a {
  color: #00B7FF;
}
h1 {
  text-align: center;
}
.container {
  margin: auto;
  width: 70%;
}
.card-like {
  border-radius: 3px;
  padding: 3px;
  background: #e4e4e4;
}
.card {
  border-radius: 3px;
  padding: 3px;
  background: #e4e4e4;
  padding: 20px;
  box-shadow: 0 5.4px 9px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  margin-bottom: 10px;
}
.card:empty {
  display: none;
}
.card-block-inline {
  border-radius: 3px;
  padding: 3px;
  background: #e4e4e4;
  text-decoration: none;
  font: inherit;
  color: black;
  background: #d7d7d7;
}
.card-block-inline:hover {
  color: white;
  background: #656565;
}
.card-links-container {
  margin-top: 20px;
}
.card-links-container a {
  border-radius: 3px;
  padding: 3px;
  background: #e4e4e4;
  text-decoration: none;
  font: inherit;
  color: black;
  background: #d7d7d7;
  display: block;
  padding: 10px;
  margin: 5px 0 5px;
}
.card-links-container a:hover {
  color: white;
  background: #656565;
}
.button-radios {
  margin-top: 10px;
}
.button-radios input[type=radio] {
  display: none;
}
.button-radios input[type=radio]:checked + label {
  background: #656565;
  color: white;
}
.button-radios label {
  cursor: pointer;
  padding: 5px;
}
.button-radios label:hover {
  background: #cbcbcb;
}
.table-container {
  overflow-x: auto;
}
.table-container #applications {
  width: 100%;
  border-collapse: collapse;
}
.table-container #applications th,
.table-container #applications td {
  border: 1px solid #656565;
  padding: 10px;
}
.table-container #applications tbody tr:hover {
  background: #d7d7d7;
}
