body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.endpoints > li {
    padding-bottom: 30px;
}

.endpoints .title {
    font-weight: bold;
}

.endpoints .verb {
    display: inline-block;
}


.endpoints .verb.GET {
    color: #00b639;
}

.endpoints .verb.POST {
    color: #00B7FF;
}

.endpoints .verb.PUT {
    color: #e1c700;
}

.endpoints .verb.DELETE {
    color: #ce1000;
}
